
/* FONTS */
@font-face {
  font-family: 'Neon speed';
  src: url("./fonts/UbinSans-Yq5Aa.otf") format("truetype");
}
@font-face {
  font-family: 'Racing battle';
  src: url("./fonts/RacingBattleDemo-OGmPA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    
    background:
    
    radial-gradient(
      65% 65% at 50% 28%,
      rgba(231, 151, 51, 0.95),
      transparent 60%
    ),

    
    radial-gradient(
      60% 60% at 30% 55%,
      rgba(173, 86, 11, 0.9),
      transparent 65%
    ),

    
    radial-gradient(
      75% 75% at 75% 85%,
      rgba(74, 40, 16, 0.95),
      transparent 70%
    ),

    
    linear-gradient(
      135deg,
      #5a3516,
      #e79733,
      #ad560b,
      #3e220f
    );

    font-family: 'Neon speed', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}


header {
    width: 100%;
    padding-top: 4em;
}
.title {
    font-family: 'Racing battle', sans-serif;
    font-size: 3.8em;
}
/* ABOVE SEARCH  */
.description {
    font-size: 1.1em;
}


/* SEARCH BAR AND BTN */
input {
    background-color: #29120080;
    border: 0.1em solid #291200;
    color: white;
    border-radius: 2em;
    margin: 0.2em 0.8em 0.8em;
    padding: 0.5em 0.8em;
    width: 70%;
    font-size: 1.3em;
}
.button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.3em;
    vertical-align: middle;
}
.button img {
    width: 2.5em;
}


/* CONTAINER */
#moviesList {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(275px, 1fr));
    margin-top: 8em;
}

/* INDV CARD */
.movie-card {
    background-color: #fdead780;
    border: 0.2em solid #fdead780;
    border-radius: 1.2em;
    padding: 1em;
    margin: 2em;
}

/* IMG */
.movie-poster {
    width: 100%;
    border-radius: 1em 1em 0 0;
    border-bottom: solid black 0.1em;
}

/* TITLE */
.movie-card h3 {
    font-size: 1.3em;
    margin: 0.5em 0;
    color: black;
}

/* YEAR */
.movie-card p {
    font-size: 1.1em;
    color: #291200;
    margin: 0;
}








/* LOADING MESSAGE  */
.hidden {
    display: none;
}



footer{
    margin-top: auto;
    padding: 1em 0 1.8em;
}
footer img {
    margin: 0 0.5em;
    width: 1.7em;
}
footer ul {
    list-style: none;
}
footer a {
    text-decoration: none;
    transition: color 0.3s ease;
}
.copyright {
    font-size: 1.7em;
}



/* --------------------- MQ'S ------------------ */


/* Small Mobile Devices */
@media (min-width:320px) and (max-width: 484px) {
    #moviesList {
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    }
    .description {
        margin-top: 0.2em;
    }
    header {
        padding-top: 2.7em;
    }
    .button img {
        width: 2em;
    }
    footer img {
        width: 1.5em;
    }
    .copyright {
        font-size: 1.3em;
        margin-top: 0.4em;
    }
    input {
        margin: 0.2em 0.5em 0.8em;
    }
}


/* Large Mobile Devices */
@media (min-width:485px) and (max-width:767px) {
    header {
        padding-top: 3em;
    }
    .description {
        margin-top: 0.2em;
    }
    #moviesList {
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }
    .copyright {
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}
/* Desktops and Laptops */
@media (min-width:1025px) and (max-width: 1296px) {
    input {
        width: 50%;
    }
    #moviesList {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    }
}

/* Large Desktops */
@media (min-width:1297px) and (max-width: 1700px) {
    .title {
        font-size: 4em;
    }
    input {
        width: 50%;
    }
    .button img {
        width: 2.8em;
    }
    #moviesList {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}